<header>
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
{% endstylesheet %}


